.score-persons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 846px;
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.hidden {
  display: none;
}
