.form-settings-game-cards {
  margin-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
  width: 300px;
}

.form-settings__label {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

