.scores {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  span {
    color: #2196f3;
    font-weight: bold;
  }
}
