.timer-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background-color: #2F95F0;
}

.timer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.timer-field-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background-color: #2F95F0;
}
