.container {
  margin: 0 auto;
  padding-top: 28px;
  padding-left: 36px;
  width: 1000px;
  height: 802px;
  background-color: rgba(0,0,0, .05);
  border-radius: 5px;
}

h6 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
