.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 80px;
  height: 40px;
  background-color: #2F95F0;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
}

.timer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
