.persone {
  width: 300px;
  height: 40px;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__avatar {
    margin-right: 16px;
    width: 40px;
    height: 40px;
    background-image: url('../../../../../../../public/avatar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
  }
  &__data {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_name {
      font-size: 14px;
      line-height: 21px;
    }
    &_email {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

