.timer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
  width: 220px;
  height: 40px;
}
